<header id="header">
    <div class="container">
        <div class="left-side">
            <img src="assets/images/logo.svg" class="logo">

            <nav>
                <ul>
                    <li><a href="#">Discovery <i class="pi pi-chevron-down"></i></a></li>
                    <li><a href="#">Players </a></li>
                    <li><a href="#">Creators <i class="pi pi-chevron-down"></i></a></li>
                    <li><a href="#">See More <i class="pi pi-chevron-down"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="search-input">
            <i class="pi pi-search"></i>
            <input type="text" placeholder="Search Games..."/>
        </div>
        <div class="right-side">
            <img src="assets/images/icon-bell.png" class="notifications" />

            <div class="user">
                <img src="assets/images/Jonas.svg" />
                <p class="name">Dylan</p>
                <i class="pi pi-chevron-down"></i>
            </div>
        </div>
    </div>
</header>