<div class="game">
    <img src="{{game.image}}" alt="{{game.name}}" />
    <div class="info">
        <p>Name: <span class="es">{{game.name}}</span></p>
        <p>Creator: <span class="es">{{game.creator}}</span></p>
        <p>Release Date: <span class="es">{{game.date}}</span></p>
        <p>Category: <span class="es">{{game.category}}</span></p>
        <p>Rating: <span style="color: orange;">{{game.ratings}}</span></p>
        <p>Downloads: <span class="es">{{game.download}}</span></p>
        <p>Players: <span class="es">{{game.players}}</span></p>
        <p>views: <span class="es">{{game.views}}</span></p>
        <p>Country: <span class="es">{{game.country}}</span></p>
    </div>
</div>